<%= form_with(model: @task, remote: true) do |f| %>
<div class="input-group mb-3 col-sm-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="taskname">タスク名</span>
  </div>
  <%= f.text_field :content, class: 'form-control', placeholder: 'やるべきことは？' %>
</div>
<div class="input-group mb-3 col-sm-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="startdate">開始予定日</span>
  </div>
  <%= f.date_field :start_expected_date, class: 'form-control' %>
</div>
<div class="input-group mb-3 col-sm-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="finishdate">終了予定日</span>
  </div>
  <%= f.date_field :finish_expected_date, class: 'form-control' %>
</div>
<%= f.submit '登録', class: 'btn btn-primary ml-3' %>
<% end %>