<% if user_signed_in? %>
<section class="tasks_form">
  <%= render 'tasks/task_form' %>
</section>
<% end %>

<h4 class="tasks">タスク一覧</h4>
<section class="tasklist">
  <%
=begin%>
  <%= render "tasks/task_todo", tasks: @task_todo %>
  <%= render "tasks/task_doing", tasks: @task_doing %>
  <%= render "tasks/task_done", tasks: @task_done %>
  <%
=end%>
  <%= render "tasks/task", tasks: @tasks>
</section>